/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root {
  --color-main-text: #353430;
  --color-title-text: #ffc2e6;
  --color-shadow: #ff0070;
  --background-color-text: #f08bca;
}

.page.theme_light,
.page.theme_auto {
  .rec {
    opacity: 0;
  }
}

.page.theme_auto {
  .header__theme-menu-item:nth-child(1) {
    border: none;
  }

  .header__theme-menu-item:nth-child(2) {
    border: 1px solid var(--color-main-text);
  }
}
